/* Variables */
/* Mixins */
/* Sass rules. */
body {
  font: 14px/1.3 "Georgia", "lucida grande", "tahoma", serif, sans-serif;
  background: #dddddd; }

h2 {
  font-size: xx-large; }

a {
  color: #3366a8;
  text-decoration: none; }
  a:hover {
    color: #1b365a; }

.punch {
  color: #2a8000; }

#header {
  height: 120px;
  background: #edf1f3;
  padding: 0 4%;
  overflow: hidden; }
  #header #logo {
    float: left; }
  #header .punch {
    float: left;
    margin-top: 43px;
    font-size: 18px; }

#content {
  width: 90%;
  min-width: 640px;
  width: auto !important;
  width: 640px;
  max-width: 1280px;
  width: auto !important;
  width: 1280px;
  margin: 20px 5%;
  float: left; }
  #content h2 {
    border-bottom: 2px solid #2e2e2e;
    margin-bottom: 15px;
    color: #2c4461; }
  #content ul {
    list-style: square;
    padding-left: 17px; }
    #content ul li {
      padding: 5px 0; }
  #content #left {
    float: left;
    width: 47%; }
    #content #left #about, #content #left #contact, #content #left #team {
      margin-bottom: 40px; }
    #content #left #team {
      overflow: hidden; }
      #content #left #team .team-member {
        margin: 0 50px 10px 0;
        float: left; }
        #content #left #team .team-member img {
          border: 1px solid black;
          border-radius: 2px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          -o-border-radius: 2px;
          box-shadow: 0 0 2px 2px #333333;
          -webkit-box-shadow: 0 0 2px 2px #333333;
          -moz-box-shadow: 0 0 2px 2px #333333;
          -o-box-shadow: 0 0 2px 2px #333333;
          margin-bottom: 5px; }
  #content #right {
    float: right;
    width: 47%; }
    #content #right #services, #content #right #work {
      margin-bottom: 20px; }

#footer {
  clear: both;
  background: #333333;
  height: 50px;
  padding: 10px 5%;
  color: #cccccc; }
