/* Variables */
/* Mixins */
/* Sass rules. */
html {
  width: 100%;
  float: left; }

body {
  font: 14px/1.3 "Georgia", "lucida grande", "tahoma", serif, sans-serif;
  background: #ccccff;
  width: 100%;
  float: left; }

h2 {
  font-size: xx-large; }

a {
  color: #3366a8;
  text-decoration: none; }
  a:hover {
    color: #1b365a; }

.punch {
  color: #2a8000; }

#header {
  height: 80px;
  background: #edf1f3;
  padding: 0 5%;
  width: 100%; }
  #header #logo {
    float: left; }
  #header .punch {
    float: left;
    margin-top: 43px;
    font-size: 18px; }

#left {
  float: left;
  width: 47%; }

#right {
  float: right;
  width: 47%; }

#content {
  padding: 1%;
  font-size: 15px;
  width: 90%;
  min-width: 640px;
  max-width: 1200px;
  margin: 0 auto 20px;
  overflow: hidden; }
  #content ul {
    list-style: square inside; }
    #content ul li {
      padding: 1% 0; }
  #content h2 {
    border-bottom: 3px solid #004461;
    margin-bottom: 10px;
    color: #333333; }
  #content .common-content, #content #about, #content #services, #content #contact {
    margin-bottom: 20px; }
  #content #about {
    float: left; }
  #content #services {
    float: right; }
  #content #contact {
    clear: both; }
  #content .team-member {
    overflow: hidden;
    margin-bottom: 10px; }
    #content .team-member img {
      float: left;
      margin-right: 10px; }
    #content .team-member .short-intro {
      float: left; }

#footer {
  clear: both;
  width: 100%;
  background: #333333;
  height: 50px;
  padding: 10px 5%;
  color: #cccccc; }
